{% extends 'base.html' %}

{% block content %}

{% for user in users %}
<div class="card mt-4">
    <div class="card-header">{{user.name}}</div>
    <div class="card-body">
        Логин: {{user.login}}<br>
        Роль: {% if user.role == 'student' %}Студент{% elif user.role == 'teacher' %}Преподаватель{% elif user.role == 'curator' %}Куратор{% elif user.role == 'admin' %}Администратор{% endif %}<br>
        Баланс: {{user.balance}}
    </div>
    <div class="card-footer"><span class="fst-italic text-secondary">UUID: {{user.id}}</div>
</div>
{% endfor %}

{% endblock %}
